<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/global.css" />
    <link rel="stylesheet" href="css/index.css" />
    <title>RUSH</title>
  </head>
  <body>
    <img src="img/logo.png" alt="img-logo" id="img_logo">
    <br>
    <img src="img/logo_t.png" alt="img-logo-text" id="img_logo_t">
    <br>

    <button class="btn_sign" id="signin">로그인</button><br>
    <button class="btn_sign" id="signup">회원가입</button>

    <script src="client/index.js"></script>
  </body>
</html>
